Program/*.o
Program/genvrp
Program/Solutions/*
Program/lkh/*
Program/outputs/*
Program/Solutions-DPDP/*
.vscode/settings.json
Program/DPDP/Heatmaps_for_HGS/*


# Ignore all above file except these files below
!Program/Solutions/empty.txt
!Program/Solutions-DPDP/empty.txt
!Program/outputs/empty.txt
!Program/DPDP/Heatmaps_for_HGS/empty.txt
.vscode/*