Program/*.o
Program/genvrp
Program/Solutions/*
.vscode/settings.json

Program/heatmap/logs/
Program/heatmap/models/__pycache__/
Program/heatmap/problems/vrp/lkh/
Program/heatmap/problems/*/__pycache__/
Program/heatmap/example-solutions/*
Program/heatmap/problems/__pycache__/
Program/heatmap/__pycache__/
Program/heatmap/data/vrp/
Program/heatmap/results/*
Program/heatmap/utils/__pycache__/
Program/heatmap/*_bigtour.txt
Program/heatmap/dp/__pycache__/
